<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.aqoong.smsreport">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">

        <meta-data android:name="DATA.key" android:value="6b584f6f43636f6f33336d756b7550"/>
        <meta-data android:name="DATA.key.Debug" android:value="sample"/>
        <meta-data android:name="URL_front" android:value="http://openAPI.seoul.go.kr:8088/"/>
        <meta-data android:name="URL_back" android:value="/json/ListLostArticleService/"/>


        <activity android:name=".ui.PagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ReportInsertActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design"/>
        <activity android:name=".ui.UserDataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.Design"/>
        <activity android:name=".ui.FindDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design"/>
    </application>
    
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

</manifest>